{% extends 'layout.html' %} {% block body %} {% include 'includes/_navbar.html' %}

    <!-- ------------ about  ---------------- -->

    <div class="container about-page">
      <h2 class="title">About Us</h2>
      <div class="row">
        <div class="col-2">
          <h1>Di Klik In</h1>
          <p>
            The development of e-commerce in Indonesia has changed some consumer behavior such as shopping habits in shopping centers or stores which are now starting to switch to using online media. As long as they are connected to the
            internet, consumers do not have to go to shops or shopping places to get the goods or services they want. For this reason, Di Klik In is here to make it easier for online businesses to expand their scope without being limited by
            geographic area. <br /><br />
            Di Klik In is an e-commerce platform created by the nation's children aimed at improving the ability of its developers to implement software designs and fulfill the project of Workshop on Implementing Software Design class.
          </p>
        </div>
        <div class="col-2">
          <img src="static/images/logodklikin.png" class="center" />
        </div>
      </div>
    </div>

    <div class="container teams">
      <h2 class="title">Our Team</h2>
      <div class="row">
        <div class="col-3">
          <img src="static/images/profile-icon.png" class="center" />
          <h3>M. Daffa Gashandy</h3>
          <p>Project Manager</p>
        </div>
        <div class="col-3">
          <img src="static/images/profile-icon.png" class="center" />
          <h3>Rheznandya Ardiyan R</h3>
          <p>Front-end & UI/UX</p>
        </div>
        <div class="col-3">
          <img src="static/images/profile-icon.png" class="center" />
          <h3>Rizki Fajar Aristanto</h3>
          <p>Back-end & Database</p>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <img src="static/images/profile-icon.png" class="center" />
          <h3>M. Farhan Dwi Rizqi</h3>
          <p>UI/UX</p>
        </div>
        <div class="col-3">
          <img src="static/images/profile-icon.png" class="center" />
          <h3>Faris Qanit</h3>
          <p>Front-end</p>
        </div>
        <div class="col-3">
          <img src="static/images/profile-icon.png" class="center" />
          <h3>Nathan Arianto Wijaya</h3>
          <p>Back-end</p>
        </div>
      </div>
    </div>

    <div class="container logo-ugm">
      <div class="row">
        <div class="col-2">
          <img src="static/images/Logo Tengah.png" />
        </div>
      </div>
    </div>

{% endblock %}
