{% extends 'layout.html' %} {% block body %} {% include 'includes/_navbar.html' %}

<!-- ----------------- account page -------------------- -->

<div class="account-page">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <img src="static/images/image.webp" width="100%" />
      </div>
      <div class="col-2">
        <div class="form-container">
          <div class="form-btn">
            <span onclick="register()">Register</span>
            <span onclick="login()">Login</span>
            <hr id="Indicator" />
          </div>

          <form id="LoginForm" action="{{ url_for('signin')}}" method="POST">
            {% if msg %}
            <div class="alert" style="display: block">{{msg}}</div>
            {% else %}
            <div class="alert" style="visibility: hidden">{{msg}}</div>
            {% endif %}

            <!-- <div class="alert" style="display: block">{{msg}}</div> -->

            <div class="wrapper">
              <input type="text" placeholder="Username" name="login_username" required />
              <div class="validation">*</div>
            </div>
            <div class="wrapper">
              <input type="password" placeholder="Password" name="login_password" required />
              <div class="validation">*</div>
            </div>
            <button type="submit" class="btn">Login</button>
            <br />
            <a href="">Forgot password</a>
          </form>

          <form id="RegForm" action="{{ url_for('signup') }}" method="POST">
            <div class="wrapper">
              <input type="text" placeholder="Name" name="name" required />
              <div class="validation">*Required</div>
            </div>
            <div class="wrapper">
              <input type="text" placeholder="Username" name="username" required />
              <div class="validation">*Required</div>
            </div>
            <div class="wrapper">
              <input type="email" placeholder="Email" name="email" required />
              <div class="validation">*Required</div>
            </div>
            <div class="wrapper">
              <input type="text" placeholder="Phone Number" name="mobileNo" required />
              <div class="validation">*Required</div>
            </div>
            <div class="wrapper">
              <input type="password" placeholder="Password" name="password" required />
              <div class="validation">*Required</div>
            </div>
            <button type="submit" class="btn">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ------------- JS for toggle form --------------------- -->
<script>
  var LoginForm = document.getElementById("LoginForm");
  var RegForm = document.getElementById("RegForm");
  var Indicator = document.getElementById("Indicator");

  function login() {
    RegForm.style.transform = "translateX(0px)";
    LoginForm.style.transform = "translateX(0px)";
    Indicator.style.transform = "translateX(100px)";
  }
  function register() {
    RegForm.style.transform = "translateX(300px)";
    LoginForm.style.transform = "translateX(300px)";
    Indicator.style.transform = "translateX(0px)";
  }
</script>
{% endblock %}
