{% extends 'layout.html' %} {% block body %} {% include 'includes/_navbar.html' %}

<!-- ------------ all product ---------------- -->
<div class="small-container">
  <h2 class="title">All Products</h2>
  <div class="row">
    <!-- --------card ------------ -->
    {% for p in products %}
    <div class="col-4">
      <a href="/product-detail?productId={{p.0}}&category={{p.4}}&sellerId={{p.6}}">
        <img src="{{p.5}}" height="237.5px" width="237.5" style="object-fit: contain" />
        <h4>{{ p.1}}</h4>
        {% set hargaAwal = p.3 * 1.3 | to_decimal%}
        <h4><b>{{p.3 | currencyFormat}}</b></h4>
        <p><span class="diskon">30%</span> <strike>{{hargaAwal | currencyFormat}}</strike></p> 
        {% if p.9 != 0 and p.10 != 0 %}
	<p><span class="fa fa-star checked"></span> {{p.9}} | {{p.10}} sold</p>
	{% elif p.9 ==0 and p.10 != 0 %}
	<p> {{p.10}} sold</p>
	{% endif %}
        <!-- <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span> -->
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
